{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Stmt1503484979000",
            "Effect": "Allow",
            "Action": [
                "ecr:GetAuthorizationToken"
            ],
            "Resource": [
                "*"
            ]
        }
    ]
}